
// Import Upbase
@import "upbase/scss/upbase";

// Project styles go here

.about-body {
	background: $blush;
}

.about-container {
	animation: .7s ease 0s 1 AboutIntro;
}


nav, .about-links {
	display:flex;
	list-style:none;
}

.about-text {
	font-family: $serif;
	font-size: 16px;
	line-height: 1.7em;

	@include mq($tablet) {
		font-size: 28px;
		margin: 10vh 80px 50px 80px;
		animation: 1s ease 0s 1 AboutIntroText;
	}
}

.about-text--link {
	border-bottom: 1px solid $pink;

	&:hover {
		transition: .2s;
		border-bottom: none;
		color: $pink;
	}
}

.intro {
	font-family: BluuNext-BoldItalic;
	font-size: 16px;

	@include mq($tablet) {
		font-size: 28px;
	}
}

.about-more {
	animation: 1s ease 0s 1 AboutIntroText;
	margin-top: 25px;

	@include mq($tablet) {
		margin:  0px 80px auto 80px;
	}
}

.about-subsection {
	float: left;
}

.about-subsection-contact {
	margin-left: 19.4%;
	float: left;

	@include mq($tablet) {
		margin-bottom: 20px;
	}
}

@media screen and (max-width: 900px) {
	.about-subsection-get {
		margin-left: 0px;
		clear: both;
	}
}

.about-subhead {
	font-family: $sans-bold;
	font-size: 9px;
	margin-bottom: 10px;

	@include mq($tablet) {
		font-size: 11px;
		margin-bottom: 15px;
	}
}

.about-links {
	flex-direction: column;
	margin-left: 0px;
	padding: 0px;
}

.about-link-text {
	font-family: $sans;
	font-size: 11px;
	margin-left: 20px;

	@include mq($tablet){
		transition: all 0.5s ease;
	}
}

.about-link {
	line-height: 19px;
	margin-bottom: 0px;
	position: relative;
	padding: 0px;
	animation: .3s ease 0s 1 AboutIntroText;


	.about-arrow {
		position: absolute;
		left: 0;
		bottom: -2px;
	}

	&:hover {
		.about-link-text {
			text-decoration: line-through;
		}

		@keyframes arrow-hover {
			0%, 100% {
	    		left: 0;
	    		bottom: -2px;
	 		 }

 			50% {
   	 			left: 2px;
   	 			bottom: 0px;
  			}
		}

		.about-arrow {
			animation: arrow-hover .45s ease infinite;
		}
	}
}

.about-arrow {
	font-family: $serif;
	font-size: 14px;
}
