
// Import css
@import "upbase/scss/upbase";

// Project styles go here

/**-----------------------------------------------------------------------------------

	FONTS

-------------------------------------------------------------------------------------**/

/**----------------------------------------
	STANLEY
----------------------------------------**/

@font-face {
  font-family: 'Stanley-Regular';
  src: url('../fonts/Optimo - Stanley-Regular.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}

$serif: Stanley-Regular, Times, Georgia, serif;


/**----------------------------------------
	SPORTING GROTESQUE
----------------------------------------**/

@font-face {
    font-family: 'sporting_grotesquegras';
    src: url('../fonts/sporting_grotesque_gras-webfont.woff2') format('woff2'),
         url('../fonts/sporting_grotesque_gras-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'sporting_grotesquenormal';
    src: url('../fonts/sporting_grotesque_normal-webfont.woff2') format('woff2'),
         url('../fonts/sporting_grotesque_normal-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


$sans: sporting_grotesquenormal, Helvetica, Arial, sans-serif;
$sans-bold: sporting_grotesquegras, Helvetica, Arial, sans-serif;

/**----------------------------------------
	COUSINE
----------------------------------------**/

@import url('https://fonts.googleapis.com/css?family=Cousine:400,700');

$mono: Cousine, Courier, monospace;


/**---------------------------------------
  BREAKPOINTS
----------------------------------------**/

$phone:      401px;
$phablet:    550px;
$tablet-sm:  768px;
$tablet:     850px;
$desktop:    1024px;
$desktop-xl: 1240px;