
// Import css
@import "upbase/scss/upbase";

// Project styles go here

/**-----------------------------------------------------------------------------------

	FONTS

-------------------------------------------------------------------------------------**/

/**----------------------------------------
	STANLEY
----------------------------------------**/

@font-face {
  font-family: 'Stanley-Regular';
  src: url('../fonts/Optimo - Stanley-Regular.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}

$serif: Stanley-Regular, Times, Georgia, serif;


/**----------------------------------------
	SPORTING GROTESQUE
----------------------------------------**/

@font-face {
  font-family: 'sportinggrotesque-normal';
  src: url('../fonts/sporting_grotesque_normal.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'sportinggrotesque-gras';
  src: url('../fonts/sporting_grotesque_gras.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}



$sans: sportinggrotesque-normal, Helvetica, Arial, sans-serif;
$sans-bold: sportinggrotesque-gras, Helvetica, Arial, sans-serif;

/**----------------------------------------
	COUSINE
----------------------------------------**/

@import url('https://fonts.googleapis.com/css?family=Cousine:400,700');

$mono: Cousine, Courier, monospace;


/**---------------------------------------
  BREAKPOINTS
----------------------------------------**/

$phone:      401px;
$phablet:    550px;
$tablet-sm:  768px;
$tablet:     850px;
$desktop:    1024px;
$desktop-xl: 1240px;