
// Import css
@import "upbase/scss/upbase";

// Project styles go here

.main-nav {
	padding: 25px;
	flex-direction: row;
	justify-content: space-between;
}

.joey {
	width: 85px;
	margin-bottom: 3px;
	@include mq($tablet) {
		width: 105px;
		margin-bottom: 0px;
	}
}


.links {
	font-family: $sans;
	font-weight: 300;
	font-size: 12px;
}


.nav-link-sub {
	@include mq($tablet) {
		&:hover, &:active {
			text-decoration: line-through;
		}
	}
}