
// Import css
@import "upbase/scss/upbase";

// Project styles go here

/**----------------------------------------
	COLORS
----------------------------------------**/

$blush: #FFF5F5;
$pink: #FDBECF;


/**-----------------------------------------------------------------------------------

	FONTS

-------------------------------------------------------------------------------------**/

@mixin font-face(
  $family-name,
  $file-name,
  $font-weight: normal,
  $font-style: normal
  ){
  @font-face {
    $font-path: "./src/static/fonts/#{$file-name}";
    font-family: "#{$family-name}";
    src: local('☺'),
      url($font-path + '.woff') format('woff'),
      url($font-path + '.svg') format('svg'),
      url($font-path + '.ttf') format('ttf'),
      url($font-path + '.otf') format('otf'),
      local('☺');
    font-weight: $font-weight;
    font-style: $font-style;
  }
}

/**----------------------------------------
	STANLEY
----------------------------------------**/

// @font-face {
//     font-family: 'bluu';
//     src: url('bluunext-bold-webfont.woff2') format('woff2'),
//          url('bluunext-bold-webfont.woff') format('woff'),
//          url('bluunext-bold.ttf') format('truetype'),
//          url('bluunext-bold-webfont.svg#bluu_nextbold') format('svg');
//     font-weight: normal;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'bluu';
//     src: url('bluunext-bolditalic-webfont.woff2') format('woff2'),
//          url('bluunext-bolditalic-webfont.woff') format('woff'),
//          url('bluunext-bolditalic.ttf') format('truetype'),
//          url('bluunext-bolditalic-webfont.svg#bluu_nextbold_italic') format('svg');
//     font-weight: normal;
//     font-style: italic;
// }


@include font-face(
  $family-name: Stanley,
  $file-name: Optimo - Stanley-Regular,
  $font-weight: 300
  );

@include font-face(
  $family-name: BluuNext,
  $file-name: bluunext-bold-webfont,
  $font-weight: 500
  );

@include font-face(
  $family-name: BluuNext,
  $file-name: bluunext-bold-webfont,
  $font-weight: 500
  );

$serif: Stanley-Regular, Times, Georgia, serif;
$serif-bold: BluuNext-Bold, Times, Georgia, serif;

/**----------------------------------------
	SPORTING GROTESQUE
----------------------------------------**/

@include font-face(
  $family-name: Sporting Grotesque,
  $file-name: sportinggrotesque-normal,
  $font-weight: 300
  );

@include font-face(
  $family-name: Sporting Grotesque,
  $file-name: sportinggrotesque-gras,
  $font-weight: 500
  );

$sans: sportinggrotesque-normal, Helvetica, Arial, sans-serif;
$sans-bold: sportinggrotesque-gras, Helvetica, Arial, sans-serif;

/**----------------------------------------
	COUSINE
----------------------------------------**/

@import url('https://fonts.googleapis.com/css?family=Cousine');

@include font-face(
  $family-name: Cousine,
  $file-name: Cousine-Regular,
  $font-weight: 300
  );

@include font-face(
  $family-name: Cousine,
  $file-name: Cousine-Bold,
  $font-weight: 500
  );

$mono: Cousine, Courier, monospace;
$mono-bold: Cousine-Bold, Courier, monospace;


/**---------------------------------------
  BREAKPOINTS
----------------------------------------**/

$phone:      401px;
$phablet:    550px;
$tablet-sm:  768px;
$tablet:     850px;
$desktop:    1024px;
$desktop-xl: 1240px;