
// Import css
@import "upbase/scss/upbase";

// Project styles go here

/**----------------------------------------
	COLORS
----------------------------------------**/

$blush: #FFF5F5;
$pink: #FDBECF;

/**---------------------------------------
  BREAKPOINTS
----------------------------------------**/

$phone:      401px;
$phablet:    550px;
$tablet-sm:  768px;
$tablet:     850px;
$desktop:    1024px;
$desktop-xl: 1240px;